In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
driver=webdriver.Chrome("chromedriver.exe")#opening the chrome driver

In [9]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [16]:
rank=[]
name=[]
artist=[]
uploaddate=[]
views=[]

In [17]:
for i in driver.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']/div/table[3]/tbody/tr/td[1]"):
    rank.append(i.text)
    
for j in driver.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']/div/table[3]/tbody/tr/td[2]"):
    name.append(j.text)
    
for k in driver.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']/div/table[3]/tbody/tr/td[3]"):
    artist.append(k.text)
    
for l in driver.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']/div/table[3]/tbody/tr/td[5]"):
    uploaddate.append(l.text)
    
for m in driver.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']/div/table[3]/tbody/tr/td[4]"):
    views.append(m.text)

In [18]:
youtube=pd.DataFrame({'Rank':rank,
                     'Video Name':name,
                     'Artist':artist,
                     'Upload Date':uploaddate,
                     'Total Views(in billions)':views})
youtube

,Rank,Video Name,Artist,Upload Date,Total Views(in billions)
0,1.,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.54
1,2.,"""Despacito""[25]",Luis Fonsi,"January 12, 2017",7.60
2,3.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"October 8, 2016",5.84
3,4.,"""Shape of You""[27]",Ed Sheeran,"January 30, 2017",5.50
4,5.,"""See You Again""[28]",Wiz Khalifa,"April 6, 2015",5.30
5,6.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.58
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.53
7,8.,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,"January 31, 2012",4.46
8,9.,"""Uptown Funk""[34]",Mark Ronson,"November 19, 2014",4.34
9,10.,"""Phonics Song with Two Words""[35]",ChuChu TV,"March 6, 2014",4.25
10,11.,"""Gangnam Style""[36]",Psy,"July 15, 2012",4.23
11,12.,"""Dame Tu Cosita""[38]",El Chombo,"April 5, 2018",3.66
12,13.,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.58
13,14.,"""Sorry""[40]",Justin Bieber,"October 22, 2015",3.48
14,15.,"""Roar""[41]",Katy Perry,"September 5, 2013",3.46
15,16.,"""Counting Stars""[42]",OneRepublic,"May 31, 2013",3.43
16,17.,"""Thinking Out Loud""[43]",Ed Sheeran,"October 7, 2014",3.35
17,18.,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.32
18,19.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.17
19,20.,"""Dark Horse""[46]",Katy Perry,"February 20, 2014",3.17
20,21.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.16
21,22.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.11
22,23.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.11
23,24.,"""Shake It Off""[50]",Taylor Swift,"August 18, 2014",3.11
24,25.,"""Let Her Go""[51]",Passenger,"July 25, 2012",3.10
25,26.,"""Axel F""[52]",Crazy Frog,"June 16, 2009",3.07
26,27.,"""Mi Gente""[53]",J Balvin,"June 29, 2017",2.99
27,28.,"""Perfect""[54]",Ed Sheeran,"November 9, 2017",2.99
28,29.,"""Waka Waka (This Time for Africa)""[55]",Shakira,"June 4, 2010",2.98
29,30.,"""Hello""[56]",Adele,"October 22, 2015",2.90

In [19]:
driver.close()

2.Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [13]:
driver=webdriver.Chrome("chromedriver.exe")

In [14]:
driver.get("https://www.bcci.tv/")

In [15]:
international=driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]")
international.click()
fixture=driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a")
fixture.click()

In [28]:
match=[]
series=[]
place=[]
date=[]
time=[]
l1=[]
l2=[]
l3=[]

In [29]:
for i in driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__format']"):
    match.append(i.text)

for j in driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']"):
    series.append(j.text)
    
for k in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span"):
    place.append(k.text)
    
for l in driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']/span"):
    l1.append(l.text)
for m in driver.find_elements_by_xpath("//div[@class='fixture__full-date']/span"):
    l2.append(m.text)
for n in driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[1]"):
    l3.append(n.text)
date=[o + p + q for o,p,q in zip(l1,l2,l3)]

In [30]:
page_url=[]

for r in driver.find_elements_by_xpath('//div[@class="js-list"]/a'):



    page_url.append(r.get_attribute('href'))

In [37]:
time=[]
for i in page_url:
    
    driver.get(i)
    
    try:
        s=driver.find_element_by_xpath("//span[@class='mc-header-scorebox__ist-time']")

        time.append(s.text)
    except:
        time.append('-')

In [39]:
fixture=pd.DataFrame({'Match Title':match,
                     'Series':series,
                     'Place':place,
                     'Date':date,
                     'Time':time})
fixture

,Match Title,Series,Place,Date,Time
0,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Sunday31OCTOBER,19:30 IST
1,T20I,2021 ICC MEN'S T20 WORLD CUP,"Zayed Cricket Stadium, Abu Dhabi",Wednesday03NOVEMBER,19:30 IST
2,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Friday05NOVEMBER,19:30 IST
3,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Monday08NOVEMBER,19:30 IST
4,T20I,INDIA V NEW ZEALAND 2021,"Sawai Mansingh Stadium, Jaipur",Wednesday17NOVEMBER,19:00 IST
5,T20I,INDIA V NEW ZEALAND 2021,"JSCA International Stadium Complex, Ranchi",Friday19NOVEMBER,19:00 IST
6,T20I,INDIA V NEW ZEALAND 2021,"Eden Gardens, Kolkata",Sunday21NOVEMBER,19:00 IST
7,TEST,INDIA V NEW ZEALAND 2021,"Green Park, Kanpur",Thursday25NOVEMBER,09:30 IST
8,TEST,INDIA V NEW ZEALAND 2021,"Wankhede Stadium, Mumbai",Friday03DECEMBER,09:30 IST
9,ODI,INDIA V WEST INDIES 2022,"Narendra Modi Stadium, Ahmedabad",Sunday06FEBRUARY,13:00 IST

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [41]:
driver.get("https://www.guru99.com/")

In [43]:
search_job=driver.find_element_by_id("gsc-i-id1")
search_job.send_keys("selenium exception")
search_btn=driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[2]/button")
search_btn.click()

In [45]:
a=driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/div[1]/div[6]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a")
driver.get(a.get_attribute('href'))

In [46]:
name=[]
desc=[]

for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]"):
    name.append(i.text)
    
for j in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]"):
    desc.append(j.text)

In [47]:
exception=pd.DataFrame({'Name of the exception':name,
                       'Description':desc})
exception

,Name of the exception,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [68]:
driver.get("http://statisticstimes.com/")

In [69]:
ind_btn=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
driver.get(ind_btn.get_attribute('href'))

In [70]:
gdp_btn=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
driver.get(gdp_btn.get_attribute('href'))

In [74]:
rank=[]
state=[]
gsdp19_20=[]
gsdp18_19t=[]
share18_19=[]
gdp=[]

In [75]:


for i in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[1]"):
    rank.append(i.text)

for j in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[2]"):
    state.append(j.text)
    
for k in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[3]"):
    gsdp19_20.append(k.text)
    
for l in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[4]"):
    gsdp18_19t.append(l.text)
    
for m in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[5]"):
    share18_19.append(m.text)
    
for n in driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[6]"):
    gdp.append(n.text)

In [78]:
GDP=pd.DataFrame({'Rank':rank,
                 'State':state,
                 'GSDP(19-20)':gsdp19_20,
                 'GSDP(18-19)':gsdp18_19t,
                 'Share(18-19)':share18_19,
                 'GDP':gdp})
GDP

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [79]:
driver.get("https://github.com/")

In [80]:
trend_btn=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
driver.get(trend_btn.get_attribute('href'))

In [93]:
title=[]
desc=[]
count=[]
language=[]
page_url=[]

In [94]:
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):



    page_url.append(i.get_attribute('href'))

In [96]:
for i in page_url:
    
    driver.get(i)
    try:
        a=driver.find_element_by_xpath("//h1[@class=' d-flex flex-wrap flex-items-center wb-break-word f3 text-normal']")

        title.append(a.text)
    except:
        title.append('-')
        
    try:
        b=driver.find_element_by_xpath("//div[@class='BorderGrid-cell']/p")

        desc.append(b.text)
    except:
        desc.append('-')
    
    try:
        c=driver.find_element_by_xpath("//a[@class='social-count']")

        count.append(c.text)
    except:
        count.append('-')
        
    try:
        d=driver.find_element_by_xpath("//span[@class='color-fg-default text-bold mr-1']")

        language.append(d.text)
    except:
        language.append('-')

In [97]:
github=pd.DataFrame({'Github Title':title,
                    'Description':desc,
                    'Contribution count':count,
                    'Language':language})
github

,Github Title,Description,Contribution count,Language
0,github\n/\ncopilot.vim\nPublic,Neovim plugin for GitHub Copilot,22,Vim Script
1,schollz\n/\ncroc\nPublic,Easily and securely send things from one compu...,685,Go
2,arco-design\n/\narco-design-vue\nPublic,A Vue.js 3 UI Library,47,TypeScript
3,iterativv\n/\nNostalgiaForInfinity\nPublic,Trading strategy for the Freqtrade crypto bot,138,Python
4,WorkerLivesMatter\n/\nWorkingTime\nPublic,-,1.2k,-
5,ehn-dcc-development\n/\nhcert-spec\nPublic,Electronic Health Certificates Specification,27,Makefile
6,kon9chunkit\n/\nGitHub-Chinese-Top-Charts\nPublic,🇨🇳 GitHub中文排行榜，帮助你发现高分优秀中文项目、更高效地吸收国人的优秀经验成果；榜...,5.6k,Java
7,vercel\n/\nnext.js\nPublic,The React Framework,14.9k,JavaScript
8,github\n/\ncopilot-docs\nPublic,Documentation for GitHub Copilot,162,Python
9,2point21\n/\nlba1-classic\nPublic,-,12,Assembly
10,shengcaishizhan\n/\nkkndme_tianya\nPublic,天涯 kkndme 神贴聊房价,1.1k,-
11,2point21\n/\nlba2-classic\nPublic,-,14,Assembly
12,DouyinFE\n/\nsemi-design\nPublic,"A modern, comprehensive, flexible design syste...",221,TypeScript
13,Leaflet\n/\nLeaflet\nPublic,🍃 JavaScript library for mobile-friendly inter...,5k,JavaScript
14,modern-js-dev\n/\nmodern.js\nPublic,The meta-framework suite designed from scratch...,86,TypeScript
15,devMEremenko\n/\nXcodeBenchmark\nPublic,XcodeBenchmark measures the compilation time o...,152,Swift
16,waldo-vision\n/\noptical-flow-demo\nPublic,A project that uses optical flow and machine l...,16,Python
17,angular\n/\ncomponents\nPublic,Component infrastructure and Material Design c...,5.9k,TypeScript
18,projectdiscovery\n/\nnuclei-templates\nPublic,Community curated list of templates for the nu...,847,Python
19,onevcat\n/\nKingfisher\nPublic,"A lightweight, pure-Swift library for download...",2.2k,Swift
20,czj2369\n/\njd_tb_auto\nPublic,基于AutoJs编写的618||双十一||淘宝||京东||赚喵币||赚汪汪币任务自动完成脚本,270,JavaScript
21,mltframework\n/\nshotcut\nPublic,"cross-platform (Qt), open-source (GPLv3) video...",633,C++
22,arco-design\n/\narco-design\nPublic,A comprehensive React UI components library,98,TypeScript
23,jumpserver\n/\njumpserver\nPublic,JumpServer 是全球首款开源的堡垒机，是符合 4A 的专业运维安全审计系统。,4.4k,Python
24,tailwindlabs\n/\nheadlessui\nPublic,"Completely unstyled, fully accessible UI compo...",390,TypeScript

6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [3]:
driver.get("https://www.billboard.com/")

In [4]:
charts=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/header/div/ul/li[1]/a")
charts.click()

In [5]:
hot=driver.find_element_by_xpath("/html/body/main/div[2]/div/div[1]/a/div[2]/div[2]/div[1]")
hot.click()

In [104]:
song=[]
artist=[]
last_rank=[]
peak_rank=[]
weeks=[]

for i in driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[1]"):
    song.append(i.text)

for j in driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[2]"):
    artist.append(j.text)
    
for k in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']"):
    last_rank.append(k.text)
    
for l in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
    peak_rank.append(l.text)
    
for m in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
    weeks.append(m.text)

In [106]:
billboard=pd.DataFrame({'song name':song,
                       'Artist':artist,
                       'Last week Rank':last_rank,
                       'Peak Rank':peak_rank,
                       'Weeks on chart':weeks})
billboard

,song name,Artist,Last week Rank,Peak Rank,Weeks on chart
0,Easy On Me,Adele,68,1,2
1,Stay,The Kid LAROI & Justin Bieber,2,1,15
2,Industry Baby,Lil Nas X & Jack Harlow,1,1,13
3,Fancy Like,Walker Hayes,3,3,18
4,Bad Habits,Ed Sheeran,4,2,17
...,...,...,...,...,...
95,Who's In Your Head,Jonas Brothers,95,95,2
96,Woo Baby,Pop Smoke Featuring Chris Brown,92,64,3
97,Flocky Flocky,Don Toliver Featuring Travis Scott,53,53,2
98,Like A Lady,Lady A,90,90,2
99,Just About Over You,Priscilla Block,97,97,2

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [6]:
driver.get("https://www.naukri.com/")

In [10]:
rec=driver.find_element_by_xpath("/html/body/div[1]/div[1]/div/ul[1]/li[2]/a")
driver.get(rec.get_attribute('href'))

In [11]:
search_job=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
search_job.send_keys("data science")

In [12]:
search_btn=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
search_btn.click()

In [13]:
name=[]
desig=[]
company=[]
skills=[]
location=[]


for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    name.append(i.text)

for j in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    desig.append(j.text)
    
for k in driver.find_elements_by_xpath("//i[@class='cmpIcn']"):
    company.append(k.text)
    
for l in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    skills.append(l.text)

In [17]:
page_url=[]

for r in driver.find_elements_by_xpath("//p[@class='highlightable']/a[1]"):



    page_url.append(r.get_attribute('href'))

In [19]:
for i in page_url:
    
    driver.get(i)
    
    try:
        s=driver.find_element_by_xpath("//div[@class='rFrame fl infoWrapper']/div[5]/a")

        location.append(s.text)
    except:
        location.append('-')

In [20]:
naukri=pd.DataFrame({'Name':name,
                    'Designation':desig,
                    'Company':company,
                    'Skills looking for':skills,
                    'Location':location})
naukri

,Name,Designation,Company,Skills looking for,Location
0,Aakash Harit,HR Manager,,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,,Data Science,Chennai
7,Narasimha,Company Recruiter,,"Data Modeling, Data Wrangling, seaborn, eda, p...",Hyderabad / Secunderabad
8,Balu Ramesh,HR Administrator,,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
9,Asif Lucknowi,Director,,"Technical Training, Software Development, Pres...",Indore
10,InstaFinancials,Human Resource,,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
11,Priyanka Akiri,HR Manager,,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,,"Office Administration, Hr Administration, tele...",Mumbai
15,Sandhya Khandagale,HR Recruiter,,"Big Data, Data Science, Artificial Intelligenc...",Pune
16,Ruchi Dhote,Senior Executive Talent Acquisition,,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
17,Kapil Devang,HR Manager,,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
18,Mahesh Babu Channa,HR Team Lead,,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
19,Manisha Yadav,HR Executive,,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Shaun Rao,Manager Human Resources,,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,,"Signal Processing, Machine Learning, Neural Ne...",Others
29,Rajat Kumar,Founder CEO,,"Web Technologies, Project Management, Software...",Delhi
30,Priya Khare,Senior Manager,,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
31,Jayanth N,Project Manager,,"Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
32,Dhruv Dev Dubey,Company Recruitment Head,,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
33,SREEDHAR,Recruitment Consultant,,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
34,Radha Manivasagam,HR Executive,,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
35,Prateek Kumar,Head,,"Java, Python, Angularjs, Software Testing, Mac...",Noida
36,Amit Sharma,Consultant,,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
37,Kanan,senior technology instructor,,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,,"Relationship Management, Retail Sales, Private...",Aligarh
39,Brad,"Manager, Technical Recruiting",,"Data Science, Software Engineering",Salt Lake City
40,Rutuja Pawar,Technical Recruiter,,"Data Science, Big Data Analytics, Digital Mark...",Pune
41,Madhusudhan Sridhar,Erp Implementer,,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
42,Ankit Sinha,Head Analytics,,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
43,Gaurav Chouhan,Chief Technical Officer,,"Software Development, Business Intelligence, B...",Indore
44,Rashi Kacker,Sr Product Manager,,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
45,Ashwini,Director Global Delivery,,"Data Science, Media Marketing, Resource Planni...",MYSORE
46,Balaji Kolli,Co Founder,,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
47,Rajani Nagaraj,HR Manager,,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
48,ROHIT Kumar,Architect,,"Software Development, Core Java, Unit Testing,...",Mumbai
49,Amir Chowdhury,Managing Partner,,"Machine Learning, Data Science, Product Manage...",

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [22]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")

In [23]:
book=[]
author=[]
volumes=[]
publisher=[]
genre=[]

for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]"):
    book.append(i.text)

for j in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]"):
    author.append(j.text)
    
for k in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]"):
    volumes.append(k.text)
    
for l in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]"):
    publisher.append(l.text)

for l in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]"):
    genre.append(l.text)
    
    
novels=pd.DataFrame({'Book Name':book,
                    'Author Name':author,
                    'Volumes sold':volumes,
                    'Publisher':publisher,
                    'Genre':genre})
novels

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [24]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [26]:
name=[]
year=[]
genre=[]
run=[]
ratings=[]
votes=[]

for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    name.append(i.text)

for j in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]"):
    year.append(j.text)
    
for k in driver.find_elements_by_xpath("//span[@class='genre']"):
    genre.append(k.text)
    
for l in driver.find_elements_by_xpath("//span[@class='runtime']"):
    run.append(l.text)

for m in driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div/span[2]"):
    ratings.append(m.text)

for n in driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]"):
    votes.append(n.text)
    
imdb=pd.DataFrame({'Series name':name,
                  'Year span':year,
                  'Genre':genre,
                  "Runtime":run,
                  'Ratings':ratings,
                  'Votes':votes})
imdb

,Series name,Year span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,891,844"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"923,715"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"909,201"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"272,065"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"232,442"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"46,184"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,022"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"178,832"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"37,383"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"209,105"

10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code

In [27]:
driver.get(" https://archive.ics.uci.edu/")

In [28]:
view_btn=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
view_btn.click()

In [41]:
name=[]
data_type=[]
task=[]
attribute=[]
instance=[]
no_attri=[]
year=[]


for i in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]"):
    name.append(i.text)

for j in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]"):
    data_type.append(j.text)
    
for k in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]"):
    task.append(k.text)
    
for l in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]"):
    attribute.append(l.text)

for m in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]"):
    instance.append(m.text)

for n in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]"):
    no_attri.append(n.text)

for o in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]"):
    year.append(o.text)
    
uci=pd.DataFrame({'Dataset name':name,
                 'Data Type':data_type,
                 'Default Task':task,
                 'attribute':attribute,
                 'No. of Instance':instance,
                 "no. of attribute":no_attri,
                 'Year':year})
uci

,Dataset name,Data Type,Default Task,attribute,No. of Instance,no. of attribute,Year
0,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
584,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
585,Gait Classification,Multivariate,Classification,Real,48,321,2020
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
588,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

In [42]:
uci.drop(0,inplace=True)

In [43]:
uci

,Dataset name,Data Type,Default Task,attribute,No. of Instance,no. of attribute,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
5,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
584,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
585,Gait Classification,Multivariate,Classification,Real,48,321,2020
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
588,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

In [44]:
driver.close()